<ion-content padding>
  <ion-list *ngIf="!isLoaded; else displayPlan">
    <ion-list-header>Loading Care Plan...</ion-list-header>
  </ion-list>
  <ng-template #displayPlan>
    <ion-list>
      <ion-item>
        <ion-label>Type</ion-label>
        <ion-select [(ngModel)]="careplan.discipline">
          <ion-option value="HHA">HHA</ion-option>
          <ion-option value="SN">SN</ion-option>
          <ion-option value="PT">PT</ion-option>
          <ion-option value="OT">OT</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Start Date</ion-label>
        <ion-datetime displayFormat="M/D/YY" pickerFormat="MMM/DD/YYYY" [(ngModel)]="careplan.startDate"></ion-datetime>
      </ion-item>
      <ion-item-group *ngFor="let group of careplan.groups">
        <ion-item-divider color="secondary">{{group.name}}</ion-item-divider>
        <ion-item *ngFor="let task of group.tasks">
          <ion-input type="text" [(ngModel)]="task.description"></ion-input>
          <ion-toggle [(ngModel)]="task.enabled"></ion-toggle>
        </ion-item>
      </ion-item-group>
    </ion-list>
  </ng-template>
</ion-content>
