<ion-content no-padding  *ngIf="!isLoaded; else displayPatient">
  <ion-list>
    <ion-list-header>Loading patient...</ion-list-header>
  </ion-list>
</ion-content>
<ng-template #displayPatient>
  <ion-content no-padding>
    <form [formGroup]="patientForm">
      <ion-list>
        <ion-item>
          <ion-label color="primary" fixed>First Name</ion-label>
          <ion-input type="text" formControlName="firstName" [class.invalid]="!patientForm.controls.firstName.valid &amp;&amp; patientForm.controls.firstName.dirty"></ion-input>
        </ion-item>
        <error-messages [control]="patientForm.controls.firstName"></error-messages>
        <ion-item>
          <ion-label color="primary" fixed>Last Name</ion-label>
          <ion-input type="text" formControlName="lastName" [class.invalid]="!patientForm.controls.lastName.valid &amp;&amp; (patientForm.controls.lastName.dirty)"></ion-input>
        </ion-item>
        <error-messages [control]="patientForm.controls.lastName"></error-messages>
        <ion-item>
          <ion-label color="primary" fixed>Address</ion-label>
          <ion-textarea rows="3" formControlName="fullAddress" [class.invalid]="!patientForm.controls.fullAddress.valid &amp;&amp; patientForm.controls.fullAddress.dirty"></ion-textarea>
        </ion-item>
        <error-messages [control]="patientForm.controls.fullAddress"></error-messages>
        <ion-item>
          <ion-label color="primary" fixed>Email</ion-label>
          <ion-input type="email" formControlName="email" [class.invalid]="!patientForm.controls.email.valid &amp;&amp; patientForm.controls.email.dirty"></ion-input>
        </ion-item>
        <error-messages [control]="patientForm.controls.email"></error-messages>
        <ion-item>
          <ion-label color="primary" fixed>Admit Date</ion-label>
          <ion-datetime displayFormat="MMM DD YYYY" pickerFormat="MMM DD YYYY" formControlName="admitDate" [class.invalid]="!patientForm.controls.admitDate.valid &amp;&amp; patientForm.controls.admitDate.dirty"></ion-datetime>
        </ion-item>
        <error-messages [control]="patientForm.controls.admitDate"></error-messages>
        <ion-item>
          <ion-label color="primary" fixed>Birth Date</ion-label>
          <ion-datetime displayFormat="MMM DD YYYY" pickerFormat="MMM DD YYYY" formControlName="birthDate" [class.invalid]="!patientForm.controls.birthDate.valid &amp;&amp; patientForm.controls.birthDate.dirty"></ion-datetime>
        </ion-item>
        <error-messages [control]="patientForm.controls.birthDate"></error-messages>
        <ion-item>
          <ion-label color="primary" fixed>Group ID</ion-label>
          <ion-input type="text" formControlName="groupId"></ion-input>
        </ion-item>
        <error-messages [control]="patientForm.controls.groupId"></error-messages>
        <ion-item>
          <ion-label color="primary" fixed>Member ID</ion-label>
          <ion-input type="text" formControlName="memberId"></ion-input>
        </ion-item>
        <error-messages [control]="patientForm.controls.memberId"></error-messages>
      </ion-list>
    </form>
    <ion-list>
      <ion-list-header color="primary">
        Phones
        <button ion-button icon-only item-right clear (click)="createPhone()">
          <ion-icon name="add" color="secondary"></ion-icon>
        </button>
      </ion-list-header>
      <div *ngFor="let phone of phones">
        <ion-item>
          <ion-input type="text" [(ngModel)]="phone.type" placeholder="Name" readonly></ion-input>
          <ion-input type="tel" [(ngModel)]="phone.number" placeholder="Number" readonly></ion-input>
          <button ion-button icon-only item-right clear>
            <ion-icon name="call" color="secondary"></ion-icon>
          </button>
        </ion-item>
      </div>
    </ion-list>
    <ion-list>
      <ion-list-header color="primary">
        Personal Contacts
        <button ion-button icon-only item-right clear
          (click)="createContact('personal')">
          <ion-icon name="add" color="secondary"></ion-icon>
        </button>
      </ion-list-header>
      <div *ngFor="let contact of personalContacts">
        <ion-item>
          <ion-input type="text"  [(ngModel)]="contact.firstName" placeholder="Name" readonly></ion-input>
          <ion-input type="tel" [(ngModel)]="contact.title" placeholder="Relation" readonly></ion-input>
          <button ion-button icon-only item-right clear>
            <ion-icon name="call" color="secondary"></ion-icon>
          </button>
        </ion-item>
      </div>
    </ion-list>
    <ion-list>
      <ion-list-header color="primary">
        Physicians
        <button ion-button icon-only item-right clear
          (click)="createContact('physician')">
          <ion-icon name="add" color="secondary"></ion-icon>
        </button>
      </ion-list-header>
      <div *ngFor="let physician of physicians">
        <ion-item>
          <ion-input type="text"  [(ngModel)]="physician.firstName" placeholder="Name" readonly></ion-input>
          <ion-input type="tel" [(ngModel)]="physician.title" placeholder="Specialty" readonly></ion-input>
          <button ion-button icon-only item-right clear>
            <ion-icon name="call" color="secondary"></ion-icon>
          </button>
        </ion-item>
      </div>
    </ion-list>
    <ion-list>
      <ion-list-header color="primary">
        Other Contacts
        <button ion-button icon-only item-right clear
          (click)="createContact('other')">
          <ion-icon name="add" color="secondary"></ion-icon>
        </button>
      </ion-list-header>
      <div *ngFor="let contact of otherContacts">
        <ion-item>
          <ion-input type="text"  [(ngModel)]="contact.firstName" placeholder="Name" readonly></ion-input>
          <ion-input type="tel" [(ngModel)]="contact.title" placeholder="Title" readonly></ion-input>
          <button ion-button icon-only item-right clear>
            <ion-icon name="call" color="secondary"></ion-icon>
          </button>
        </ion-item>
      </div>
    </ion-list>
  </ion-content>
  <ion-footer>
    <ion-toolbar>
      <button ion-button round color="primary" [disabled]="!patientForm.valid" (click)="save()">Save</button>
      <button ion-button round color="primary" (click)="cancel()">Cancel</button>
      <button ion-button round color="danger" (click)="delete()" *ngIf="patientForm.controls.id.value">Delete</button>
    </ion-toolbar>
  </ion-footer>
</ng-template>
